@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.inputStyle {
  @apply p-[10px] border-[0.8px] border-[#CFDBE8] rounded-lg bg-[#F7FAFC];
}

.labelHolder {
  @apply flex flex-col text-[14px];
}
